spring:
  freemarker:
    prefer-file-system-access: false
  application:
    name:
      config-server
  cloud:
    config:
      label: master
      server:
        git:
          uri: https://github.com/litaiqing/springcloud
          search-paths: respo
eureka:
  client:
    healthcheck:
      enabled: true
server:
  port: 8888
